
@{
    ViewBag.Title = "Index";
}
<link href="~/Controllers/Style.css" rel="stylesheet" />

<h1>App Development</h1>

<ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
</ul>





<p>
    When it comes to coding an app, you have <i>three options:</i> you can either hire an app development agency to build and design your product.
</p>

<h3>Image Transparency</h3>

<img src="~/Controllers/images/degital.jpg" />

<h2>7 Color Stops :</h2>
<div id="grad3"></div>

<a url="https://www.quora.com/">Quaro</a>